@font-face {
  font-family: 'MyFont';
  src: url('./my-font.woff'),
    url('./my-font.ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'MyFont';
  background: url('./icon.png');
}